<section class="section">
  <div class="container">
    <h1 class="heading-1">The error log</h1>
    <h2 class="heading-3 max-w-md mx-auto text-pretty">
      Hi, I'm Sorin, a web developer focused on problem-solving and sharing my journey. Welcome to The Error Log
    </h2>
  </div>
</section>