---
import HeaderLink from './HeaderLink.astro';
---

<header class="fixed top-0 left-0 w-full bg-white dark:bg-gray-900 shadow-md transition-colors duration-300 z-50">
	<div class="container mx-auto px-4 py-3 flex items-center justify-between">
	  <!-- Logo -->
	  <div class="text-lg font-bold">
		<a href="#" class="text-blue-500 dark:text-blue-400">The Error Log</a>
	  </div>
  
	  <!-- Menu -->
	  <nav>
		<ul class="flex space-x-6 text-gray-700 dark:text-gray-300">
		  <li>
			<HeaderLink href="/" class="text-slate-900 dark:text-white hover:text-slate-500 dark:hover:text-slate-200 animate-fade-up animate-once">
			  Home
			</HeaderLink>
		  </li>
		  <li>
			<HeaderLink href="/blog" class="text-slate-900 dark:text-white hover:text-slate-500 dark:hover:text-slate-200 animate-fade-up animate-delay-100 animate-once">
			  Blog
			</HeaderLink>
		  </li>
		  <li>
			<HeaderLink href="/contact" class="text-slate-900 dark:text-white hover:text-slate-500 dark:hover:text-slate-200 animate-fade-up animate-delay-200 animate-once">
			  Contact
			</HeaderLink>
		  </li>
		</ul>
	  </nav>
  
	  <!-- Theme Toggle Button -->
	  <button
		class="theme-toggle"
		id="toggle-theme"
		type="button"
		title="Toggle theme"
		aria-label="Toggle theme"
	  >
	  <svg
	  xmlns="http://www.w3.org/2000/svg"
	  aria-hidden="true"
	  width="1em"
	  height="1em"
	  fill="currentColor"
	  stroke-linecap="round"
	  class="theme-toggle__classic"
	  viewBox="0 0 32 32"
  >
	  <clipPath id="theme-toggle__classic__cutout">
	  <path d="M0-5h30a1 1 0 0 0 9 13v24H0Z" />
	  </clipPath>
	  <g clip-path="url(#theme-toggle__classic__cutout)">
	  <circle cx="16" cy="16" r="9.34" />
		<g stroke="currentColor" stroke-width="1.5">
			<path d="M16 5.5v-4" />
			<path d="M16 30.5v-4" />
			<path d="M1.5 16h4" />
			<path d="M26.5 16h4" />
			<path d="m23.4 8.6 2.8-2.8" />
			<path d="m5.7 26.3 2.9-2.9" />
			<path d="m5.8 5.8 2.8 2.8" />
			<path d="m23.4 23.4 2.9 2.9" />
		</g>
		</g>
	</svg>
	  </button>
	</div>
  </header>
  
  <script>
	const toggleThemeButton = document.getElementById('toggle-theme');
	const htmlElement = document.documentElement;
  
	// Check stored theme preference on load
	const storedTheme = localStorage.getItem('theme');
	if (storedTheme === 'dark') {
	  htmlElement.classList.add('dark');
	  toggleThemeButton.classList.add('theme-toggle--reversed');
	} else {
	  htmlElement.classList.remove('dark');
	  toggleThemeButton.classList.remove('theme-toggle--reversed');
	}
  
	// Toggle theme on button click
	toggleThemeButton.addEventListener('click', () => {
	  if (htmlElement.classList.contains('dark')) {
		htmlElement.classList.remove('dark');
		toggleThemeButton.classList.remove('theme-toggle--reversed');
		localStorage.setItem('theme', 'light');
	  } else {
		htmlElement.classList.add('dark');
		toggleThemeButton.classList.add('theme-toggle--reversed');
		localStorage.setItem('theme', 'dark');
	  }
	});
  </script>
  