<section class="section grid min-h-[calc(100vh/1.5)] bg-gray-100 dark:bg-gray-900">
  <div class="container h-full flex flex-col items-center justify-center text-center">
    <h1 class="heading-1 motion-opacity-in-0 motion-translate-y-in-[25%] motion-duration-[550ms] motion-ease-spring-smooth">
      The error log
    </h1>
    <h2 class="heading-3 max-w-md mx-auto text-pretty font-light motion-opacity-in-0 motion-translate-y-in-[25%] motion-duration-[450ms] motion-ease-spring-smooth motion-delay-200">
      Hi, I'm Sorin, a web developer focused on problem solving and sharing my journey.
    </h2>
  </div>
</section>
